# Core numerics
numpy<2

# ONNX Runtime (GPU only)
onnxruntime-gpu==1.22.*
onnxruntime==0

# Attention / performance libs
flash-attn==2.8.3
sageattention==2.2.0

# LLM bindings
llama-cpp-python==0.3.16

# CLI dependency (hf)
typer==0.21.1

# Dependency test with typer
click==8.*
